body {
  margin: 0;
  background-image: url(./question-mark-1872665_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: invert(85%);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 4rem;
}
